<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light shadow-5-strong">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand font-weight-bold text-white" style="text-shadow:0px 0px 2px #e49d67;" href="{% url 'home' %}">Home</a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="navbar-brand font-weight-bold text-white" style="text-shadow:0px 0px 2px #e49d67;" aria-current="page" href="{% url 'contact' %}">Contact</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand font-weight-bold text-white" style="text-shadow:0px 0px 2px #e49d67;" href="{% url 'service' %}">Service</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand font-weight-bold text-white" style="text-shadow:0px 0px 2px #e49d67;" href="{% url 'feedback' %}">Feedback</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand font-weight-bold text-white" style="text-shadow:0px 0px 2px #e49d67;" href="{% url 'gallery' %}">Gallery</a>
        </li>

        <li class="nav-item" style="margin-left:850px;">
          <a class="navbar-brand text-white" style="text-shadow:0px 0px 2px #e49d67;" href="#">Hello {{request.user|capfirst}}</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand text-white" style="text-shadow:0px 0px 2px #e49d67;" href="{% url 'logout' %}">Logout</a>
        </li>
    </div>
  </div>
</nav>
<!-- Navbar -->
